@model MVCandSQLCONNECTION.Models.UserList
@using System.Data;
@{
    ViewBag.Title = "Listing";
}


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<a href="@Url.Action("Index")" class="btn btn-primary">Add</a>
<br />
@TempData["Add"]
<br />
@TempData["Delete"]
<br />
@TempData["Edit"]
<br />
<main>
    <table class="table">
        <thead>
            <tr>
                @foreach (DataColumn dc in Model.Utable.Columns)
                {
                    <td scope="col">
                        @dc.ColumnName
                    </td>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow dr in Model.Utable.Rows)
            {
                <tr>
                    @foreach (DataColumn dc in Model.Utable.Columns)
                    {
                        <td>
                            @dr[dc.ColumnName]
                        </td>
                    }
                    <td><a href="@Url.Action("Delete",new {Id = dr["UserId"] })"> Delete </a></td>
                    <td><a href="@Url.Action("Edit",new {Id = dr["UserId"] })"> Edit </a></td>
                </tr>
            }
        </tbody>
    </table>
</main>