@model MVCandSQLCONNECTION.Models.ClassList
@using System.Data;
@{
    ViewBag.Title = "Listing";
}


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<a href="@Url.Action("Index")" class="btn btn-primary">Add</a>
<br />
@TempData["Edit"]
<br />
@TempData["Delete"]
<br />
@TempData["ADD"]

<main>
    <table class="table">
        <thead>
            <tr>
                @foreach (DataColumn dc in Model.Ctable.Columns)
                {
                    <th scope="col">
                        @dc.ColumnName
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow dr in Model.Ctable.Rows)
            {
                <tr>
                    @foreach (DataColumn dc in Model.Ctable.Columns)
                    {
                        <td>
                            @dr[dc.ColumnName]
                        </td>
                    }
                    <td><a href="@Url.Action("Delete", new {Id = dr["ClassId"]})"> Delete </a></td>
                    <td><a href="@Url.Action("Edit", new {Id = dr["ClassId"] })"> Edit </a></td>
                </tr>

            }
        </tbody>
    </table>
</main>