@model MVCandSQLCONNECTION.Models.ExamList
@using System.Data;
@{
    ViewBag.Title = "Listing";
}


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<a href="@Url.Action("Index")" class="btn btn-primary">Add</a>
<br />
@TempData["Added"]
<br />
@TempData["Delete"]
<br />
@TempData["Edit"]
<br />

<main>
    <table class="table">
        <thead>
            <tr>
                @foreach (DataColumn dc in Model.Etable.Columns)
                {
                    <td scope="col">
                        @dc.ColumnName
                    </td>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow dr in Model.Etable.Rows)
            {
                <tr>
                    @foreach (DataColumn dc in Model.Etable.Columns)
                    {
                        <td>
                            @dr[dc.ColumnName]
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</main>